<meta charset="UTF-8" />

<!--Thẻ thiết lập cho trình duyệt hiển thị tương ứng với kích thước màn hình
thiết lập trình duyệt hiển thị cố định và tương ứng trên tất cả các thiết bị
dựa vào chiều rộng của thiết bị (device-width) và không cho phép người dùng
phóng to (thiết lập initial-scale với giá trị cố định là 1)-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--https://stackoverflow.com/questions/33767533/what-does-the-shrink-to-fit-viewport-meta-attribute-do-->


<title>Trang thông tin tìm kiếm giảng viên</title>
<base href="/">
<link rel="stylesheet" href="/css/style.css" type="text/css">
<link rel="stylesheet" href="/src/font/font-awesome-4.7.0/css/font-awesome.min.css" type="text/css">
<!--dynamically refreshing each open IE tab.  remove it while deploying on staging/production-->
<script type="text/javascript" src="http://livejs.com/live.js"></script>
<script src="/jquery/dist/jquery.min.js"></script>
<!--src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>-->

