<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
    <script src="js/admin/research_field.js"></script>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>

    <main class="main-content">
        <section class = "tree-views">
            <div id="search_box">
                    <input type="text" class="form-control input-sm" placeholder="Tìm kiếm lĩnh vực" id="search_field" name="searchText"/>
            </div>
            <div id="research_tree"></div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>

<!--CSS-->
<link rel="stylesheet" href="/dist/themes/default/style.css" />

<!--JS-->
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jstree/3.2.1/jstree.min.js"></script>