<!DOCTYPE html>
<html lang="vi">
<head>
    <% include ../partials/head %>
    <script src="/js/other_user/staff.js"></script>
</head>
<body>

    <header>
        <% include ../partials/header %>
    </header>
    <main class="main-content">
        <section class = "list-container">
            <div class="basic-info">
                <ul class="first-ul">
                    <h1 id="full_name"></h1>
                    <ul>

                        <span>
                            <i class="fa fa-address-card" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Mã cán bộ:&nbsp
                            <!--&nbsp make a space-->
                            <li id = "staff_id">
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-briefcase" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Chức vụ:&nbsp
                            <!--&nbsp make a space-->
                            <li id="staff_type">
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-book" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Bộ môn:&nbsp
                            <!--&nbsp make a space-->
                            <li id="address">
                            </li>
                            &nbsp
                        </span>

                        <span>
                            <i class="fa fa-id-card-o" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Học hàm, học vị:&nbsp
                            <!--&nbsp make a space-->
                            <li id="degree_level">
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-phone-square" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Số điện thoại:&nbsp
                            <!--&nbsp make a space-->
                            <li id="phone_number">
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-envelope" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            VNU email:&nbsp
                            <!--&nbsp make a space-->
                            <li id="vnu_email">
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-envelope-o" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Email khác:&nbsp
                            <!--&nbsp make a space-->
                            <li id="other_email">
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-globe" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Website:&nbsp
                            <!--&nbsp make a space-->
                            <li id="website"> 
                                <!-- <a href="http://uet.vnu.edu.vn/~thanhld/" id="website">
                                    http://uet.vnu.edu.vn/~thanhld/
                                </a> -->
                            </li>
                            &nbsp
                        </span>
                        <span>
                            <i class="fa fa-university" aria-hidden="true" style="color:cornflowerblue" >&nbsp</i>
                            Địa chỉ:&nbsp
                            <!--&nbsp make a space-->
                            <li id="staff_address">
                            </li>
                            &nbsp
                        </span>
                    </ul>
                </ul>
                <ul class="last-ul">
                    <img src="/src/defaultAvatar.png" alt="Avatar">
                </ul>
            </div>

            <div class=interested-field>
                <ul>
                    <h1>Chủ đề nghiên cứu</h1>
                    <ul class = "main-ul-content">
                        <span>
                            <textarea id = "interested-field-editor" style="min-height: 100px; min-width: 200px" disabled>
                            </textarea>
                        </span>
                    </ul>
                </ul>
            </div>

            <div class="research-field">
                <ul>
                    <h1>Lĩnh vực quan tâm</h1>
                    <ul id="researchList">
                        <!-- <li>Network security</li>
                        <li>Web application security</li>
                        <li>Web protocol security</li> -->
                    </ul>
                </ul>
            </div>
        </section>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>

</body>
</html>